
<!--<div id="grid1" ui-grid="gridOptions"  class="grid" ui-grid-move-columns ui-grid-resize-columns  ui-grid-auto-resize></div>-->
<!--<div id="grid1" ui-grid="gridOptions"  class="grid"></div>-->
<!--<div class="container-fluid">-->

    <div ng-controller="GridModalCtrl as $ctrl" class="grid-modal-button">
        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.open('lg', '.modal-parent')">
            Add Project
        </button>
        <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
        <div class="modal-parent">
        </div>
    </div>
    <!--<div class="row">-->
        <!--new line here-->
        <!--<br class="col-md-12">-->
            <!--there was a table here-->
        <!--</br>-->
            </br>
<!--HEREHRHEHRE-->
            <!--<div id="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="my-grid"></div>-->
<div class="my-grid-container">
    <div class="my-grid-container-inner">
        <div class="my-grid-container-inner-header" id="headerdiv">

            <table st-table="displayedMongoData" st-safe-src="mongoData" class="table table-striped my-grid my-grid-container-inner-header-outer">
                <thead class="my-grid-header-group">
                <tr>
                    <th class="my-grid-header my-column-id">ID</th>
                    <th class="my-grid-header my-column-job_number">job_number</th>
                    <th class="my-grid-header my-column-project-title">project_title</th>
                    <th class="my-grid-header my-column-project-lead">project_lead</th>
                    <th class="my-grid-header my-column-client">client</th>
                    <th class="my-grid-header my-column-region">region</th>
                    <th class="my-grid-header my-column-countries">countries</th>
                    <th class="my-grid-header my-column-therapy">therapy</th>
                    <th class="my-grid-header my-column-conditions">conditions</th>
                    <th class="my-grid-header my-column-immunology">immunology</th>
                    <th class="my-grid-header my-column-number-of-pcps">number_of_PCPs</th>
                    <th class="my-grid-header my-column-number-of-nurses">number_of_nurses</th>
                    <th class="my-grid-header my-column-total-nurse-time">total_nurse_time</th>
                    <th class="my-grid-header my-column-lost-cancelled">lost_cancelled</th>
                    <th class="my-grid-header my-column-year">year</th>
                    <th class="my-grid-header my-column-number-of-patients">number_of_patients</th>
                    <th class="my-grid-header my-column-total-patient-time">total_patient_time</th>
                    <th class="my-grid-header my-column-business-issues">business_issue</th>
                </tr>
                <tr>
                    <th>
                        <input st-search="id" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="job_number" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="project_title" placeholder="search for firstname" class="input-sm form-control" type="search"/>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="my-grid-container-inner-body" onscroll="document.getElementById('headerdiv').scrollLeft = this.scrollLeft;">
            <table st-table="displayedMongoData" st-safe-src="mongoData" class="table table-striped my-grid">
                <tbody class="my-grid-body">
                <tr ng-repeat="mongoDatum in displayedMongoData">
                    <td class="my-grid-cell my-column-id">{{mongoDatum.id}}</td>
                    <td class="my-grid-cell my-column-job_number">{{mongoDatum.job_number}}</td>
                    <td class="my-grid-cell my-column-project-title">{{mongoDatum.project_title}}</td>
                    <td class="my-grid-cell my-column-project-lead">{{mongoDatum.project_lead}}</td>
                    <td class="my-grid-cell my-column-client">{{mongoDatum.client}}</td>
                    <td class="my-grid-cell my-column-region">{{mongoDatum.region}}</td>
                    <td class="my-grid-cell my-column-countries">{{mongoDatum.countries}}</td>
                    <td class="my-grid-cell my-column-therapy">{{mongoDatum.therapy}}</td>
                    <td class="my-grid-cell my-column-conditions"><div ng-repeat="item in mongoDatum.conditions track by $index">{{item}}</div></td>
                    <td class="my-grid-cell my-column-immunology">{{mongoDatum.immunology}}</td>
                    <td class="my-grid-cell my-column-number-of-pcps">{{mongoDatum.number_of_PCPs}}</td>
                    <td class="my-grid-cell my-column-number-of-nurses">{{mongoDatum.number_of_nurses}}</td>
                    <td class="my-grid-cell my-column-total-nurse-time">{{mongoDatum.total_nurse_time}}</td>
                    <td class="my-grid-cell my-column-lost-cancelled">{{mongoDatum.lost_cancelled}}</td>
                    <td class="my-grid-cell my-column-year">{{mongoDatum.year}}</td>
                    <td class="my-grid-cell my-column-number-of-patients">{{mongoDatum.number_of_patients}}</td>
                    <td class="my-grid-cell my-column-total-patient-time">{{mongoDatum.total_patient_time}}</td>
                    <td class="my-grid-cell my-column-business-issues">{{mongoDatum.business_issue}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<div st-items-by-page="10" st-pagination="" st-template="grid/custom_pagination_nav.html">-->
        <!--<ng-include src="'grid/custom_pagination_nav.html'">-->
        <!--</ng-include>-->
    <!--</div>-->
    <!--<div ng-controller="FooterCtrl">-->
</div>
<table style="margin: 0 auto">
    <tr>
        <td colspan="9" class="text-center">
            <div st-items-by-page="6" st-table="displayedMongoData" st-safe-src="mongoData" st-pagination="" st-template="/grid/custom_pagination_nav.html"></div>
        </td>
    </tr>
</table>



<!--<div class="my-carousel" id="carousel-467869" >-->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-slide-to="0" data-target="#carousel-467869">-->
                <!--</li>-->
                <!--<li data-slide-to="1" data-target="#carousel-467869">-->
                <!--</li>-->
                <!--<li data-slide-to="2" data-target="#carousel-467869" class="active">-->
                <!--</li>-->
            <!--</ol>-->
            <!--<div class="carousel-inner">-->
                <!--<div class="item">-->
                    <!--<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>-->
                            <!--First Thumbnail label-->
                        <!--</h4>-->
                        <!--<p>-->
                            <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>-->
                            <!--Second Thumbnail label-->
                        <!--</h4>-->
                        <!--<p>-->
                            <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item active">-->
                    <!--<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>-->
                            <!--Third Thumbnail label-->
                        <!--</h4>-->
                        <!--<p>-->
                            <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div> <a class="left carousel-control" href="#carousel-467869" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-467869" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>-->
        <!--</div>-->



        <!--</br></br>-->



    <!--</div>-->
<!--</div>-->



