
<!--<div id="grid1" ui-grid="gridOptions"  class="grid" ui-grid-move-columns ui-grid-resize-columns  ui-grid-auto-resize></div>-->
<!--<div id="grid1" ui-grid="gridOptions"  class="grid"></div>-->
<!--<div class="container-fluid">-->

    <div ng-controller="GridModalCtrl as $ctrl" class="grid-modal-button">
        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.open('lg', '.modal-parent')">
            Add Project
        </button>
        <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
        <div class="modal-parent">
        </div>
    </div>
    <!--<div class="row">-->
        <!--new line here-->
        <!--<br class="col-md-12">-->
            <!--there was a table here-->
        <!--</br>-->
            <!--</br>-->
<!--HEREHRHEHRE-->
            <!--<div id="grid" ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="my-grid"></div>-->
<!--<button type="button" ng-csv="downloadCSV()" filename="test.csv">Export</button>-->
<div class="my-grid-container" st-table="displayed" st-safe-src="mongoData" st-filtered-collection="filteredCollection">
    <div class="my-grid-container-inner">
        <div class="my-grid-container-inner-header" id="headerdiv">
            <table class="table my-grid my-grid-container-inner-header-outer">
                <thead class="my-grid-header-group">
                <tr>
                    <th class="my-grid-header my-column-job-number">Job Number</th>
                    <th class="my-grid-header my-column-client">Client</th>
                    <th class="my-grid-header my-column-lifecycle-stage">Life Cycle Stage</th>
                    <th class="my-grid-header my-column-business-issue">Business Issue</th>
                    <th class="my-grid-header my-column-therapy-area">Therapy Area</th>
                    <th class="my-grid-header my-column-project-title">Project Title</th>
                    <th class="my-grid-header my-column-brand">Brand</th>
                    <th class="my-grid-header my-column-generic-name-formulation">Generic Name/Formulation</th>
                    <th class="my-grid-header my-column-drug-class-product">Drug Class/Product</th>
                    <th class="my-grid-header my-column-situation-problem">Situation Problem</th>
                    <th class="my-grid-header my-column-conditions">Conditions</th>
                    <th class="my-grid-header my-column-office">Office</th>
                    <th class="my-grid-header my-column-type">Type</th>
                    <th class="my-grid-header my-column-technique">Technique</th>
                    <th class="my-grid-header my-column-customer-target">Customer Target</th>
                    <th class="my-grid-header my-column-brand-type">Brand Type</th>
                    <th class="my-grid-header my-column-bsc-personnel">BSc Personnel</th>
                    <th class="my-grid-header my-column-key-client-personnel">Key Client Personnel</th>
                    <th class="my-grid-header my-column-sample-size">Sample Size</th>
                    <th class="my-grid-header my-column-total-time">Total Time</th>
                    <th class="my-grid-header my-column-placeholder"></th>
                </tr>
                <tr>
                    <th><input st-search="job_number" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="client" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="life_cycle_stage" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="business_issue" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="therapy_area" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="project_title" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="brand" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="generic_name_formulation" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="drug_class_product" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="situation_problem" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="conditions" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="office" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="type" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="technique" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="customer_target" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="brand_type" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="bsc_personnel" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="key_client_personnel" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="sample_size" placeholder="" class="input-sm form-control" type="search"></th>
                    <th><input st-search="total_time" placeholder="" class="input-sm form-control" type="search"></th>

                </tr>
                </thead>
            </table>
        </div>
        <!--<div class="my-grid-container-inner-body-outer">-->
            <div class="my-grid-container-inner-body" onscroll="document.getElementById('headerdiv').scrollLeft = this.scrollLeft;">
                <table class="table table-striped my-grid">
                    <tbody class="my-grid-body">
                    <tr ng-repeat="mongoDatum in displayed track by $index"  ng-click="mongoDatum.showConditions = !mongoDatum.showConditions">

                        <td class="my-grid-cell my-column-job-number">{{mongoDatum.job_number}}</td>
                        <td class="my-grid-cell my-column-client">{{mongoDatum.client}}</td>
                        <td class="my-grid-cell my-column-lifecycle-stage">{{mongoDatum.life_cycle_stage}}</td>
                        <td class="my-grid-cell my-column-business-issue">{{mongoDatum.business_issue}}</td>
                        <td class="my-grid-cell my-column-therapy-area">{{mongoDatum.therapy_area}}</td>
                        <td class="my-grid-cell my-column-project-title">{{mongoDatum.project_title}}</td>
                        <td class="my-grid-cell my-column-brand">{{mongoDatum.brand}}</td>
                        <td class="my-grid-cell my-column-generic-name-formulation">{{mongoDatum.generic_name_formulation}}</td>
                        <td class="my-grid-cell my-column-drug-class-product">{{mongoDatum.drug_class_product}}</td>
                        <td class="my-grid-cell my-column-situation-problem">{{mongoDatum.situation_problem}}</td>
                        <td class="my-grid-cell my-column-conditions">
                            <span ng-if="!mongoDatum.showConditions">{{mongoDatum.conditions[0]}}</span>
                            <span ng-if="!mongoDatum.showConditions && mongoDatum.conditions.length > 1"> ...</span>
                            <div ng-if="mongoDatum.showConditions" ng-repeat="item in mongoDatum.conditions track by $index">{{item}}</div>
                        </td>
                        <td class="my-grid-cell my-column-office">{{mongoDatum.office}}</td>
                        <td class="my-grid-cell my-column-type">{{mongoDatum.type}}</td>
                        <td class="my-grid-cell my-column-technique">{{mongoDatum.technique}}</td>
                        <td class="my-grid-cell my-column-customer-target">{{mongoDatum.customer_target}}</td>
                        <td class="my-grid-cell my-column-brand-type">{{mongoDatum.brand_type}}</td>
                        <td class="my-grid-cell my-column-bsc-personnel">{{mongoDatum.bsc_personnel}}</td>
                        <td class="my-grid-cell my-column-key-client-personnel">{{mongoDatum.key_client_personnel}}</td>
                        <td class="my-grid-cell my-column-sample-size">{{mongoDatum.sample_size}}</td>
                        <td class="my-grid-cell my-column-total-time">{{mongoDatum.total_time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        <!--</div>-->
        </div>
    </div>
    <!--<div st-items-by-page="10" st-pagination="" st-template="grid/custom_pagination_nav.html">-->
        <!--<ng-include src="'grid/custom_pagination_nav.html'">-->
        <!--</ng-include>-->
    <!--</div>-->
    <!--<div ng-controller="FooterCtrl">-->
    <!--<table style="margin: 0 auto">-->
        <!--<tr>-->
            <!--<td colspan="9" class="text-center">-->
                <!--<div st-items-by-page="10" st-pagination="" st-template="/grid/custom_pagination_nav.html"></div>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->
</div>



<!--<div class="my-carousel" id="carousel-467869" >-->
            <!--<ol class="carousel-indicators">-->
                <!--<li data-slide-to="0" data-target="#carousel-467869">-->
                <!--</li>-->
                <!--<li data-slide-to="1" data-target="#carousel-467869">-->
                <!--</li>-->
                <!--<li data-slide-to="2" data-target="#carousel-467869" class="active">-->
                <!--</li>-->
            <!--</ol>-->
            <!--<div class="carousel-inner">-->
                <!--<div class="item">-->
                    <!--<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>-->
                            <!--First Thumbnail label-->
                        <!--</h4>-->
                        <!--<p>-->
                            <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item">-->
                    <!--<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>-->
                            <!--Second Thumbnail label-->
                        <!--</h4>-->
                        <!--<p>-->
                            <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item active">-->
                    <!--<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />-->
                    <!--<div class="carousel-caption">-->
                        <!--<h4>-->
                            <!--Third Thumbnail label-->
                        <!--</h4>-->
                        <!--<p>-->
                            <!--Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div> <a class="left carousel-control" href="#carousel-467869" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-467869" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>-->
        <!--</div>-->



        <!--</br></br>-->



    <!--</div>-->
<!--</div>-->



