.grid {
    padding: 0px;
    width: 90%;
    height: 40%;
    vertical-align: middle;
    margin: 0 auto;
}
.grid-modal  {
    padding: 0px;
    width: 90%;
    height: 40%;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;

}
.grid-modal-button  {
    padding: 0px;
    width: 90%;
    height: 40%;
    vertical-align: middle;
    margin: 0 auto;
    text-align: right;

}

.my-carousel    {
    width: 90%;
    height: 185px;
    position: relative;
    vertical-align: middle;
    margin: 0 auto;
    overflow: hidden;
}

.my-form {
    /*display: block;*/
    /*width: 100%;*/
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.my-header {
    padding-bottom: 9px;
    margin: 0px 0 0px;
    border-bottom: 1px solid #eee
}

.ui-grid-cell  {
    display : table-cell;
    height: auto !important;
    overflow:visible;
    position: static;
}
/*.ui-grid-row {*/
    /*display : table-row;*/
    /*height: auto !important;*/
    /*position: static;*/
/*}*/
.ui-grid-cell-contents {
    height: auto !important;
    white-space: normal;
    overflow:visible;
}